<% if @manager.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@manager.errors.count, "error") %>
			prohibited this manager from being saved:</h2>
		<p>There were problems with the following fields:</p>
		<ul>
			<% @manager.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
